#sideBar {
    position: fixed;
    padding-top: 70px;
    font-family: 'Segoe UI Symbol';
    min-width: 14%;
    background-color: rgb(253, 249, 249);
    display: 'inline-block';
    border-right: 2px solid gray;
    height: 100vh;
    min-height: '100%';
}

.line {
    border-top: 1px solid black;
    margin: 20px;
}
